.side-bar {
  height: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;

  .side-bar-controls {
    height: 100%;
    position: relative;
    z-index: 10;
  }

  .side-bar-viewer {
    height: 100%;
    overflow: scroll;
    position: relative;
    z-index: 0;
  }
}